<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="UTF-8">

	<title>Welcome</title>

	<link rel="stylesheet" href="../static/css/loginstyle.css">

</head>

<body>
		<div class="main">

			<!-- 左侧信息栏 -->

			<div class="sideleft">

				<h1>心情之旅</h1>

				<h4>slogan：blablabla</h4>

				</br></br></br>


			</div>

			<!-- 右侧登陆界面 -->

			<div class="sideright">

				<div class="index">

					<form action="http://127.0.0.1:5000/shouye" method="post">

						<p class="headline">心情之旅</p>

						<p class="astyle">账号：</p>

						<input type="text" name="username">

						<p class="astyle">密码：</p>

						<input type="text" name="passward">

						<input type="submit" value="登录" name="login"  onclick="alert('登录成功！')">

						</br>

						<p class="bstyle"><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;忘记密码</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://127.0.0.1:5000/zhuce">注册</a></p>

					</form>

 

				</div>

			</div>

		</div>

 

		<!-- 尾部 -->

		<div class="footer">

				<ul>

					<p>开心快乐每一天！！心情之旅与你相伴</p>

				</ul>



		</div>



	</div>

</body>

</html>
