<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="UTF-8">

	<title>Welcome</title>

	<link rel="stylesheet" href="../static/css/zhuce_style.css">

</head>

<body>

		<div class="main">

			<!-- 左侧信息栏 -->

			<div class="sideleft">

				<h1>心情之旅</h1>

				<h4>slogan：blablabla</h4>

				</br></br></br>


			</div>

			<!-- 右侧登陆界面 -->

			<div class="sideright">

				<div class="index">

					<form action="http://127.0.0.1:5000/login" method="post">

						<p class="headline">心情之旅</p>

						<p class="astyle">帐号：</p>

						<input type="text" name="username">

						<p class="astyle">密码：</p>

						<input type="text" name="passward">

						<p class="astyle">性别：</p>

						<input type="text" name="sex">

						<p class="astyle">年龄：</p>

						<input type="text" name="year">

						<input type="submit" value="注册" name="zhuce"onclick="alert('注册成功！')" >

						</br>

						<p class="bstyle"><a href="http://127.0.0.1:5000/login">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登录</a></p>

					</form>

 

				</div>

			</div>

		</div>

 

		<!-- 尾部 -->

		<div class="footer">

				<ul>

					<p>开心快乐每一天！！***与你相伴</p>

				</ul>



		</div>



	</div>

</body>

</html>
